# Flutter/Dart specific
.dart_tool/
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.cobertura/

# Ignore IntelliJ / Android Studio related files
.idea/
*.iml

# VS Code specific
.vscode/
*.code-workspace

# macOS/Windows/Linux build files
macos/Flutter/ephemeral/
windows/Flutter/ephemeral/
linux/Flutter/ephemeral/

# iOS build files
ios/Flutter/Flutter.framework/
ios/.generated/
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

# Android build files
android/.gradle/
android/app/build/
android/local.properties
android/app/*.keystore

# Firebase related files
firebase_app_id_file.json

# Keys and environment files
*.key
.env
*.pem

# Debug files
debug/
.dart_tool/
logs/

# Generated plugin registrants
*.g.dart

# Node.js specific
server/node_modules/

# General node_modules for any folder
node_modules/
server/.env
